@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

.App{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 10px;
    
}

body{
    background: #262627;
    padding: 20px;
}