.container{
    margin: 10px 0 0 0;
    display: flex;
    justify-content: space-between;
    
}

.btn{
    padding: 5px 20px;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    border: 2px solid #333232;
    transition: all 0.5s;
}

.btn:hover{
    filter: brightness(120%);
}

.btn:active{
    filter: brightness(95%);
}