@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.headerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 10px 0;
}

.addTask{
    font-weight: bold;
    cursor: pointer;
    border: none;
    font-size: 17px;
    background-color: transparent;
    color: #F8F7FA;
}

.number{
    margin: 0 5px 0 0;
}